html {
    --primary-color: rgb(88, 32, 126);
    --primary-color-light: rgb(187, 28, 201);
  }
@font-face {
    font-family: 'rocket_rinderregular';
    src: url('rocket_rinder.woff2') format('woff2'),
         url('rocket_rinder.woff') format('woff');
}

body {
    font-family: 'rocket_rinderregular';
    color: white;
    background-image: url("./Grid.png");
    background-size: cover;
    background-repeat: no-repeat;
}
  
  /* Set the custom scrollbar for the whole web application */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color-light) transparent;
  }
  
  /* For WebKit-based browsers (Chrome, Safari, etc.) */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-light);
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
  }
  
  .shownmessage {
    background-image: url("./img/Chatbox.png");
  }
  .button{
    background-color: rgb(187, 28, 201);
  }
  .username{
    display: flex;
    flex-direction: column;
    background-image:url("./Fields.png");
    background-size:100%;
    margin-right: 100px;
  }

 